<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
<mat-card class="cards">
     <div fxLayout="row" fxLayoutAlign="center center"><i style="font-size: xx-large" class="material-icons">dashboard</i></div>
     <div fxLayout="row" fxLayoutAlign="center center"><h1 class="sign">Register</h1></div>
     <div style="color: #858585e8" fxLayout="row" fxLayoutAlign="center center"><span>Use your Trello User Name</span></div>
     <div fxLayout="row" style="padding: 40px 0px 0px 0px;">
       <form class="example-form" [formGroup]="RegForm">
         <mat-card-content>
           <mat-form-field class="example-full-width">
             <input formControlName="username" matInput placeholder="Username">
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <input formControlName="email" matInput placeholder="Email">
           </mat-form-field>

           <mat-form-field class="example-full-width">
             <input formControlName="password" matInput placeholder="Password" type="password">
           </mat-form-field>
         </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" class="login" routerLink="/login" routerLinkActive="active">Log in</a>
          <button mat-raised-button [disabled]="RegForm.invalid" color="primary" class="btn-block" (click) = "Register()"
          style="float: right;line-height: 34px;
                    border-radius: 40px;width: 90px;
                    border-radius: 50px;
                    border: 0px;
                    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);">Next
          </button>
        </mat-card-actions>
     </form>
   </div>
</mat-card>
</div>
