.material-icons{
  color: #3f51b5;
}
.login{
  padding: 0px 20px 0px 20px;
  border-radius: 50px;
  border: 0px;
}
.title{
  color: #3f51b5;
}
.cards{
  padding: 48px 40px 48px 36px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  min-width: 300px
}
.form-field{
  min-width: 300px;
}
.title{
  color: #3f51b5;
}
.sign{
  color: #202124;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.logincontent{
  display: flex;
  justify-content: center;
  align-items: center;
}
